.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .card {
    transform: translateY(-45%);
    height: 100px;
    width: 80%;
    align-self: center;
    background-color: #ccffff;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
